*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Roboto';
}


/* ---------------ESTILOS BARRA DE NAVEGACION --------------------*/


.header{
    background: rgba(0, 0, 0, 0.7);
    /* backdrop-filter: blur(5px); */
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.logo{
    width: 75px;
    height: 75px;
}

.logo__text{
    font-size: 50px;
    color: white;
    margin-left: 10px;
    font-family: 'Squada one';
}

.header__menulist{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    /* background-color: salmon; */
    font-size: 18px;
    /* margin-right: 20px; */
}

.menu__item  {
    padding-right: 20px;

}

.menu__item a{
    text-decoration: none;
    color: white;
    transition: all 200ms ease-out;
}

.menu__item a:hover{
    border-bottom: solid rgb(236, 236, 15) 3px;
}

/* Estilos del HERO  */


.hero{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__container article:nth-child(1){
    background-image: url(../images/shoes_nike.jpg);
}

.hero__container article:nth-child(2){
    background-image: url(../images/nikeStyle.jpg);
}

.hero__container article:nth-child(3){
    background-image: url(../images/tshirt_nike.jpeg);
}

.hero__container article:nth-child(4){
    background-image: url(../images/shoes_nike2.jpg);
}


.hero__text{
    position: absolute;
    top: 420px;
    left: 20px;
}

.hero__title{
    font-size: 50px;
}

.hero__paragraph{
    font-size: 18px;
}





