*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Roboto';
}







/* ---------------ESTILOS BARRA DE NAVEGACION --------------------*/


.header{
    background: rgba(0, 0, 0, 0.7);
    /* backdrop-filter: blur(5px); */
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 70;
}

.header__logo{
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.logo__text a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 65px;
    height: 65px;
}

.logo__text{
    font-size: 50px;
    color: white;
    margin-left: 10px;
    font-family: 'Squada one';
}


.header__menulist{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    /* background-color: salmon; */
    font-size: 18px;
    /* margin-right: 20px; */
}

.menu__item  {
    margin: 15px;
}

.menu_item, .menu__item a{
    text-decoration: none;
    color: white;
    transition: all 400ms ease;
}

.header__menulist li.active{
    border-bottom: solid #2799B5 3px;
}

.menu__item a{
    margin: 0;
    padding: 0;
    transition: 300ms all ease-in;
}

.menu__item.active a, .menu__item:hover a{
    color: #2799B5;
}



/* Estilos del HERO  */


.hero{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__container article:nth-child(1){
    background-image: url(../images/shoes_nike.jpg);
}

.hero__container article:nth-child(2){
    background-image: url(../images/nikeEverywhere.jpg);
}

.hero__container article:nth-child(3){
    background-image: url(../images/tshirt_nike.jpeg);
}

.hero__container article:nth-child(4){
    background-image: url(../images/shoes_nike2.jpg);
}


.hero__text{
    margin: 0 30px;
    display: inline-block;
}

.hero__title{
    font-size: 50px;
}

.hero__paragraph{
    font-size: 18px;
}

.hero #text1{
    position: absolute;
    bottom: 200px;
}

.hero #text2{
    color: white;
    position: absolute;
    bottom: 300px;
    left: 1600px;
    
}

.hero #text3{
    color: white;
    position: absolute;
    top: 190px;
    left: 3600px;
    
}

.hero #text4{
    color: black;
    position: absolute;
    top: 180px;
    left: 4100px;
    
}




/* ----------------------ESTILOS PERSONALIZABLES DE FULLPAGE ---------------------*/

#fp-nav ul li a span{
    background: #2799B5;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev{
    top: 80%;
}

.fp-controlArrow.fp-next{
    border-width: 30px 0px 30px 30px;
}

.fp-controlArrow.fp-prev{
    border-width: 30px 30px 30px 0;
}

