:root{
    --colortextos: #49454567;

}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    /* fallback for old browsers */
    background: #2193b0;  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    display: flex;
    justify-content: stretch;
    height: 75px;
    align-items: center;
    font-family: 'Squada One', cursive;
    font-size: 50px;
}

body {
    font-family: 'Roboto', sans-serif;

}